.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*El contenido es recortado y no se muestra las barras de posicion*/
  overflow: hidden;
  background-color: #333; 
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  /* Quita el subrayado de los enlaces */
  text-decoration: none;
}

.navbar li:hover {
  background-color: #111;
}
  